{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "commonjs": true,
    "es2021": true
  },
  "ignorePatterns": ["jest-teardown-global.ts"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["import", "@typescript-eslint/eslint-plugin"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "space-infix-ops": "error",
    "no-multi-spaces": "error",
    "max-len": ["error", {
      "code": 200,
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignoreTemplateLiterals": true
    }],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": true
      }
    ],
    "key-spacing": ["error", { "beforeColon": false }],
    "import/order": [
      "warn",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": [["builtin", "external"], "internal", "parent", "sibling", "index"],
        "newlines-between": "always",
        "pathGroups": [{ "group": "internal", "pattern": "@/**" }],
        "pathGroupsExcludedImportTypes": []
      }
    ],
    "no-empty-pattern": "warn",
    "no-return-await": "error",
    "no-trailing-spaces": "error",
    "no-unreachable": "off",
    "object-shorthand": "error",
    "object-curly-spacing": ["error", "always", {}],
    "space-before-blocks": "error",
    "space-in-parens": ["error", "never"],
    "no-confusing-arrow": "error",
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-console": "warn",
    "curly" : "error",
    "brace-style" : ["error", "1tbs",{ "allowSingleLine": false }]
  }
}
